<h1> Here you'll be able to interact with the application by: </h1>
<ul>
  <li>Viewing available notes</li>
  <li>Adding a new note</li>
  <li>Editting an existing note</li>
  <li>Deleting an existing note</li>
</ul>
