<h1> This is a list of all notes available: </h1>
<hr />
<% @notes.each do |note| %>
  <p><%= link_to note[:note_title], note %><small> (<%= note[:created_at].strftime("%b %d. %Y") %>)</small></p>
<% end %>
