<h1> Welcome to S-Notes </h1>
<hr>
<h3>In this application I'm practicing working with rails to deliver a fullstack project</h3>
<p> To get started follow the link below</p>

<%= link_to 'Go to available notes', notes_path %>
