<h1>This is a list of all catigories available.</h1>
<small><%= link_to "Creae new category", new_category_path %></small>
<hr />
<ol>
<% @categories.each do |category| %>
  <li><%= link_to category[:name], category %><small> (<%= category[:created_at].strftime("%b %d. %Y") %>)</small></li>
<% end %>
