<h1>This is a list of all catigories available.</h1>
<hr />
<% @categories.each do |category| %>
  <p><%= link_to category[:name], category %><small> (<%= category[:created_at].strftime("%b %d. %Y") %>)</small></p>
<% end %>
