<h1>Categories created by all users</h1>
<br />
<% @categories.each do |category| %>
  <h3>Owner ID:</h3>
  <p><%= category[:owner_id] %></p>
  <h3>Name:</h3>
  <p><%= category[:name] %></p>
  <h3>Description:</h3>
  <p><%= category[:description] %></p>
  <hr>
<% end %>
